body {
	background-image: url("../ijmain.jpg"); 
	background-size: 105%;
	font-family: sans-serif;
	background-color: blue;

}

#level_title {
	font-size: 18px;
	color: white;		
	font-weight: bold;
}

#plane {
	

}

.level_image{
	
}

#option1{

}

