body {
	background-image: url("../ijmain.jpg"); 
	background-size: 105%;
	font-family: sans-serif;
	background-color: black;
	background-repeat: no-repeat;

}

#level_title {
	font-size: 18px;
	color: white;		
	font-weight: bold;
}





#option1{

}

#option2{

}

#option3{

}

#gameover{

}

#touw{
	background-image: url("../touw.png");
	background-color: brown;
	position: absolute;
	width: 260px;
	height: 190px;
    left: 400px;
	top: 400px;
}
